h1 {
  margin-top: 0;
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
}

body {
  text-align: center;
  background-color: #b9fffc;
}
.top-container {
  position: relative;
  padding-top: 100px;
}
.top-cloud {
  position: absolute;
  top: 30px;
  right: 450px;
}
.bottom-cloud {
  position: absolute;
  left: 450px;
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  position: absolute;
  top: 150px;
  left: 618px;
}
